.top-hero-section{
    background:linear-gradient( to right, rgb(0,0,0,9),rgb(0,0,0,0)), url("https://images.unsplash.com/photo-1485827404703-89b55fcc595e?w=800&h=400&fit=crop");
    height:35vh;
    margin:20px;
    border-radius: 20px;
    background-size: cover;
    
}
.text-hero-section{
    padding:20px;
    margin-right: 60%;
}
.tag{
    color:blue;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
}
.main-heading{
    color: white;
    font-weight: 700;
}
.main-para{
     color: white;
    font-weight: 700;
}
.hero-button-1{
    border-radius: 20px;
    padding: 6px;
}
.edit-card{
    border-radius: 0px;
}