.main-background{
    background-color:hsl(222, 47%, 11%);
    background-size: cover;
    min-height: 100vh;
    height: 110%;
    width: 100vw;
    overflow:scroll;
}
.sidebar-background{
    background-color: hsl(217, 33%, 25%);
    background-size: cover;
    border-color: #727275;
    border-width: 0;
    border-style: solid;
    border-right-width: 1px;
    overflow:hidden;
    top: 0;
     min-height: 100vh;
     position: fixed;
     height: 100%;
     width: 15%;
}
.logo-name{
    color: blueviolet;
    margin-top: 23px;
}
.logo-icon{
    font-size: 40px;
    padding: 10px;
    width: fit-content;
    margin: 10px;
    color: blueviolet;
    padding-right: 10px;
}
aside,hr{
    color: grey;
    margin-top: 0;
    padding: 0;
}
.nav-items{
    display: block;
    padding: 10px;
    color:rgb(158, 152, 152);
    background-color: transparent;
    border-width: 0px;
    width: 90%;
    text-align: left;
    border-color: beige;
    border-radius: 14px;
    height: fit-content;
    transition-property:color;
    margin: 10px;
}
.nav-item{
    display: block;
    padding: 10px;
    color:rgb(158, 152, 152);
    background-color: transparent;
    border-width: 0px;
    width: 90%;
    text-align: left;
    border-color: beige;
    border-radius: 14px;
    height: fit-content;
    transition-property:color;
    margin: 10px;
}
.nav-item:hover{
    color:rgb(156, 31, 206);
}
.nav-item.active{
    color:rgb(156, 31, 206);
}
.nav-items-icons{
    padding-right: 25px;
}
.nav-items.active{
    background-color:rgb(147, 94, 196,0.3);
    color:rgb(197, 101, 235);
}
.nav-items:hover{
    background-color:rgba(245, 240, 250, 0.1);
    color:rgb(255, 255, 255);
}

.hero-card{
    margin: 20px;
    padding: 60px;
    background-image:  linear-gradient(to left, rgb(0, 0, 0,0.1),#0F172999,#0F1729),url("https://images.unsplash.com/photo-1485827404703-89b55fcc595e?w=800&h=400&fit=crop");
    background-size: cover;
    border-radius: 20px;
    width:100%;
    height: 40%;
    overflow:hidden;
   
}
.hero-card,p{
    color: #828FA4;
}
.hero-tag{
    border-color: transparent;
    border-style: solid;
    width:90px;
    color: #6c11e2;
    background-color: #001c79;
    border-radius: 60px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    height: 23px;
    padding-bottom: 20px;
    padding-top: 0;
    border-style: solid;
    border-width: 0.1px;
    border-color: #6c11e2;
}
.loader {
  --color-1: #6c11e2;
  --size: 1.5px;

  display: inline-block;
  transform: translateZ(calc(1 * var(--size)));
  padding: 2px;
  padding-top: 0px;
  padding-left: 0px;
}
.loader:after {
  content: '';
  display: inline-block;
  width: calc(5 * var(--size));
  height: calc(4 * var(--size));
  margin: calc(2 * var(--size));
  border-radius: 50%;
  background: var(--color-1);
  animation: coin-flip 10s ease infinite;
}
@keyframes coin-flip {
  0%,
  100% {
    animation-timing-function: ease;
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: ease;
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.hero-heading{
    color: white;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.hero-btn-1{
    border-radius: 30px;
    padding: 10px;
    width:160px;
    background: linear-gradient(to right,purple,rgb(94, 5, 238));
    color: white;
    border-width: 0;
    transition: all 0.5s;
}
.hero-btn-1:hover{
    transform: scale(1.1);
}
.hero-btn-2{
    border-radius: 30px;
    padding: 10px;
    width:140px;
    background-color: #12182A !important;
    color: white;
    margin-left: 14px;
    border-width:1px;
    border-color: #828FA4;
}
.hero-btn-2:hover{
    background-color: #232c47 !important;
}
.btn-icon{
    font-size: 13px;
    padding-right: 25px;
}
.bottom-line{
    background-color:hsl(217, 33%, 25%);
    position: fixed;
    width: 100%;
    color: rgb(9, 123, 199);
    height: 60px;
    bottom: 0;
    border-style: solid;
    border-color: #828FA4;
    border-width: 0;
    border-top-width: 1px;
    
}
.description-in-footer{
    padding: 20px;
}
.bottom-nav{
    height: 130px;
}
.section-title{
    margin-bottom: 24px;
    
}
.section-title h1{
    color: white;
    font-size:34px;
    font-weight:700;
}
.section-title a{
     color:#8aa3d6;
    text-decoration:none;
}
.cardone img{
    border-radius: 15px;
    width: 200px;
    
}
.cardone h3{
    color: white;
    font-size: 17px;
    padding: 10px 0px 0px 15px;
    transition:color 0.6s ease;
    margin: 0;
}
.cardone p{
    padding: 0px 0px 0px 15px;
    width: fit-content;
    transition:width 0.6s ease-in-out;
}
.cardone{
    margin: 10px 7px 5px 7px;

}
.cardone:hover h3{
    color: #6c11e2;
}
.cardtwo-card p{
    font-size: 10px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom:0;
}
.cardtwo-card h4{
    color: white;
    font-size: 15px;
    padding-top: 10px;

}
.cardtwo-card img{
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 10px;
}
.cardtwo-card{
    background-color: #232c47;
    width:320px;
    border-radius: 20px;
    margin: 20px;
}
.bar-color{
       background-color: #002497;
       color: white;
       margin: 20px;
       padding: 10px;
       border-radius: 15px;
       width: 800px;
    
}

.bg-bar{
    background-color: #002497;
    border-width: 0;
    width: 700px;
    color: #1b3eb1;
}
.explore-heading-1{
    font-size: 30px;
    color: white;
    margin: 20px;
}
.explore-heading{
    color: white;
    font-size: 25px;
    padding: 20px;
    font-weight: 700;

}
.emoji{
    font-size:40px;
}
.color-card{
    width:210px;
    height:150px;
    background:linear-gradient(#ff9800,#ff6d00);
    border-radius:20px;
    padding:25px;
    margin: 10px;
}

.color-card h2{
    bottom:25px;
    left:25px;
    color:white;
    font-size:30px;
    font-weight:bold;
}
.color-card1{
background: linear-gradient(135deg, #d81b60 0%, #ff5252 100%);
}
.color-card2{
background: linear-gradient(135deg, #f39c12 0%, #ff8c42 100%);
}
.color-card3{
background: linear-gradient(135deg, #2196f3 0%, #4dd0e1 100%);
}
.color-card4{
background: linear-gradient(135deg, #2ecc71 0%, #48e5c2 100%);
}
.color-card5{
background: linear-gradient(135deg, #6d28d9 0%, #8b5cf6 100%);

}
.color-card6{
background: linear-gradient(135deg, #607d8b 0%, #90a4ae 100%);
}
.color-card7{
background: linear-gradient(135deg, #16a34a 0%, #22c55e 100%);
}
.color-card8{
background: linear-gradient(135deg, #2563eb 0%, #8b5cf6 100%);
}
#home {
    display: block;
}

#explore {
    display: none;
}
#settings{
    display: none;
}
.explore-card h1{
    color: white;
    padding: 20px;
    padding-right: 5px;
}
.explore-card{
width: 500px;
}
.explore-card p{ 
    margin-bottom: 25px;

}
.explore-cardp{
    margin-top: 0px;
    width: fit-content;
    margin-left: 80px;
    margin-bottom: 25px;
    padding: 0;
}
.explore-cardp p{
    margin: 0;
    font-size: 15px;
}
body{
    background:#0f172a;
}

.settings-section{
    max-width:700px;
}

.setting-card{
    background:#1e293b;
    border-radius:15px;
    padding:18px 20px;
    transition:.3s;
    cursor:pointer;
}

.setting-card:hover{
    background:#273449;
}

.icon-box{
    width:50px;
    height:50px;
    border-radius:12px;
    background:#334155;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#cbd5e1;
    font-size:22px;
}

small{
    color:#94a3b8;
    font-size:14px;
}

.form-check-input{
    width:50px;
    height:25px;
    cursor:pointer;
}

.signout-btn{
    background:#3b1d2d;
    color:#ff5f5f;
    border-radius:15px;
    font-weight:600;
}

.signout-btn:hover{
    background:#512538;
    color:white;
}
.red{
    color: red;
     background:#602834;
}
.text-red{
    color: red;
}
.s-red{
     background:#3C202F;
}
.s-red:hover{
    background:#4E2431;
}